/* Navbar.css */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
  }
  
nav-link {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    margin: 0 5px;
    border-radius: 5px;

  }
  

  